nav {
	background-color: #00447c;
}

nav a, nav div a.nav-link, .nav-link, nav .navbar-brand {
	color: gold;
	margin-right: 10px;
	font-weight: bold;
}

nav a img {
	height: 3rem;
}

#mlag-logo a {
	display: flex;
	justify-content: center;
}

#mlag-logo img {
	max-width: 100%;
	padding: 10px 20px
}

.carousel-image {
	max-height: 650px;
	max-width: 90vw;
}

.past-champions iframe {
	height: 600px;
}

#drive-docs {
	width: 100%;
	height: 600px;
	border: 0;
}

.game {
	background-color:#cfc096;
	border-radius: 15px;
	padding: 10px;
	margin: 15px;
	flex-shrink: 1 !important;
}

#mlag-steering-committee {
	text-align: center;
}


@media (min-width: 992px) {
	#mlag-logo img {
	  max-width: 50%;
	}
  }
